.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
* {
  margin: 0;
}
.list-item {
  list-style: none;
}
.comment-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin: 24px 0 0 0;
  padding: 0;
}
.name-fist-letter-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 24px;
}
.comment-para {
  margin: 0 56px;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 12px;
}
.like-icon {
  width: 20px;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
